
html,
body {
  min-height: 100vh;
  height: auto !important;
  /*height: 100%;*/
  /* Negative indent footer by it's height */
  /*margin: 0 auto -60px;*/
  position: relative;
}

#user-plans {
    color:#2A9EC5;
}


#org-plans {
    color:#98B73F;
}

.navbar-toggle .fa {
    color: #FFFFFF !important;
}

.landing-text h1 {
    margin-bottom: .65em;

    font-size: 28px;
    font-weight: 600;
    line-height: 1.5em;
}

.landing-text p {
    font-size: 13px;
    line-height: 2em;
}

.landing-actions {
    margin-top: 2em;
}

.landing-actions .btn {
    padding: 12px 19px;
    margin-right: .5em;
    
    font-size: 18px;
    font-weight: 600;
}

#prescriptionFormModal .modal-dialog {
    width: 70vw;
}

#pvtScriptModal .modal-dialog {
    width: 90vw;
}

@media (min-width: 1200px) {

    html, body {
      width: auto !important;
      overflow-x: hidden !important;
    }

    html::-webkit-scrollbar {
        display: none;
    }

    body::-webkit-scrollbar {
        display: none;
    }
    
    .landing-text h1 {
        margin-bottom: .65em;
    
        font-size: 36px;    
        font-weight: 600;
        line-height: 1.5em;
    }
        
    .landing-text p {
        font-size: 15px;
    }
    
}


@media (min-width: 767px) and (max-width: 979px) {

    html, body {
      width: auto !important;
      overflow-x: hidden !important;
    }

    html::-webkit-scrollbar {
        display: none;
    }

    body::-webkit-scrollbar {
        display: none;
    }

    .modal-open .modal::-webkit-scrollbar {
        display: none;
    }

    textarea#task-comment {
        max-width: 85.8vw !important;
    }
    
    .landing-text h1 {  
        font-size: 18px;    
        font-weight: 600;
        line-height: 1.5em;
    }
    
    .landing-text p {
        font-size: 11px;
        line-height: 2em;
    }
    
    .landing-actions .btn {
        padding: 9px 9px;
        margin-right: .25em;
        
        font-size: 13px;
    }
    
    .landing-actions {
        margin-top: 1.5em;
    }   
    

}


@media (max-width: 767px) {

    html, body {
      width: auto !important;
      overflow-x: hidden !important;
    }

    html::-webkit-scrollbar {
        display: none;
    }

    body::-webkit-scrollbar {
        display: none;
    }

    .modal-open .modal::-webkit-scrollbar {
        display: none;
    }

    textarea#task-comment {
        max-width: 85.8vw !important;
    }

    .navbar-brand {
        margin-top: 2px !important;
        margin-left: 5vw !important;
    }

    .landing-actions {
        margin: 3.5em 0;
        
        text-align: center;
    }
    
    .landing-actions .btn {
        padding: 9px 13px;
    }

}