.btn-signup-codemachine {
    background-color: #dadada;
    background-position: 0 -15px;
}

.btn-signup-block-codemachine {
    background-color: #4e4e4e;
    background-position: 0 -15px;
}

.color-icons-codemachine {
    background-color: #dadada;
}

