<div class="container">
        
    <div class="row">

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><%= translate("newAccount") %></h3>
                </div>
                <div class="panel-body">

                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle-thin fa-stack-2x"></i>
                        <i class="fa fa-user-secret fa-stack-1x"></i>
                    </span>

                    <form id="profile-form" class="form-profile" novalidate="novalidate">

                        <div class="row">

                            <div class="col-md-12">

                                <div class="input-group">
                                    <span class="input-group-addon">/</span>
                                    <input id="account_name" type="text" class="form-control" placeholder="Schedule for using Pillows and Beanbags">
                                </div>

                                <p>
                                    <%= translate("greatAccountNames") %>.
                                </p>

                            </div>
                        </div>                                       

                        <div class="form-group">
                            <label for="account_description"><%= translate("descriptionOptional") %></label>
                            <input type="text" id="account_description" name="account_description" class="form-control">
                        </div>

                        <div class="form-checkbox">
                            <label>
                                <input checked="checked" class="js-privacy-toggle" id="repository_public_true" name="repository[public]" tabindex="5" type="radio" value="true">
                                <%= translate("user") %>
                            </label>
                            <span class="mega-octicon octicon-repo"></span>

                            <span class="note">
                                Anyone can see this account. You choose who can send messages.
                            </span>
                        </div>

                        <div class="form-checkbox">
                            <label>
                                <input checked="checked" class="js-privacy-toggle" id="repository_public_false" name="repository[public]" tabindex="5" type="radio" value="false">
                                <%= translate("organization") %>
                            </label>
                            <span class="mega-octicon octicon-lock"></span>
                            <span class="note">
                                <%= translate("youChooseWhoUseAccount") %>.
                            </span>
                        </div>

                        <button id="create-account-btn" class="btn btn-success btn-block" type="submit"><%= translate("createAccount") %></button>
                    </form>
                      
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><%= translate("exportAccounts") %></h3>
                </div>
                <div class="panel-body">

                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle-thin fa-stack-2x"></i>
                        <i class="fa fa-cloud-download fa-stack-1x"></i>
                    </span>

                    <form id="export-account-form" class="form-export" novalidate="novalidate">
  

                        <p class="help-block"><%= translate("getAccountList") %>.</p>

                        <button id="get-export-btn" class="btn btn-success btn-block" type="submit"><%= translate("exportCSV") %></button>
                    </form>
                          
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-pills">
                <li><a href="#all-accounts-tab" data-toggle="tab"><%= translate("all") %></a></li>
                <li><a href="#active-tab" data-toggle="tab"><%= translate("active") %></a></li>
                <li><a href="#users-tab" data-toggle="tab"><%= translate("users") %></a></li>
                <li><a href="#organizations-tab" data-toggle="tab"><%= translate("organizations") %></a></li>
                <li><a href="#disable-tab" data-toggle="tab"><%= translate("disable") %></a></li>
                <li><a href="#suspended-tab" data-toggle="tab"><%= translate("suspended") %></a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade active in" id="all-accounts-tab"></div>
                <div class="tab-pane" id="active-tab"></div>
                <div class="tab-pane" id="paused-tab"></div>
                <div class="tab-pane" id="inbound-tab"></div>
                <div class="tab-pane" id="outbound-tab"></div>
            </div>  
        </div>
    </div>
</div>