<div class="row">
    <div class="col-md-12">
        <h3 class="title"><%= translate("allTasks") %></h3>
        <table id="tasks-list" class="table">
            <thead>
                <tr>
                    <th><%= translate("label") %></th>
                    <th><%= translate("title") %></th>
                    <th><%= translate("description") %></th>
                    <th><%= translate("name") %></th>
                    <th><%= translate("email") %></th>
                    <th><%= translate("status") %></th>
                    <th><%= translate("uuid") %></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div id="no-tasks"></div>
        <div class="pagination">
            <ul class="pagination">
                <li><a href="javascript:;"><%= translate("previous") %></a></li>
                <li class="active"><a href="javascript:;">1</a></li>
                <li><a href="javascript:;">2</a></li>
                <li><a href="javascript:;">3</a></li>
                <li><a href="javascript:;">4</a></li>
                <li><a href="javascript:;"><%= translate("next") %></a></li>
            </ul>
        </div>
    </div>
</div>