<div class="container">
        
    <div class="row">

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><%= translate("newCompany") %></h3>
                </div>
                <div class="panel-body">

                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle-thin fa-stack-2x"></i>
                        <i class="fa fa-building-o fa-stack-1x"></i>
                    </span>

                    <form id="profile-form" class="form-profile" novalidate="novalidate">

                        <div class="row">
                            <div class="col-md-3">
                                <div class="btn-group ">
                                    <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                                        <i class="fa fa-user fa-fw"></i>
                                        <span data-label-placement="">username</span> 
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <input type="radio" id="company_account_1" name="company_account" value="1" checked="">
                                            <label for="company_account_1">username</label>
                                        </li>
                                        
                                        <li>
                                            <a href="#settings"><i class="fa fa-heartbeat fa-fw"></i> io fun owners</a>
                                        </li>

                                        <li>
                                            <a href="#settings"><i class="fa fa-paw fa-fw"></i> fun-heads team</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-8">

                                <div class="input-group">
                                    <span class="input-group-addon">/</span>
                                    <input id="company_name" type="text" class="form-control" placeholder="Schedule for using Beanbags and Pillows">
                                </div>

                                <p>
                                    <%= translate("greatCompanyNames") %>.
                                </p>

                            </div>
                        </div>                                       

                        <div class="form-group">
                            <label for="company_description"><%= translate("description") %></label>
                            <input type="text" id="company_description" name="company_description" class="form-control">
                        </div>

                        <!--

                        <div class="form-checkbox">
                            <label>
                                <input checked="checked" class="js-privacy-toggle" id="repository_public_true" name="repository[public]" tabindex="5" type="radio" value="true">
                                <%= translate("human") %>
                            </label>
                            <span class="mega-octicon octicon-repo"></span>

                            <span class="note">
                                Humans can work this company. You choose to assign the company to a human agent.
                            </span>
                        </div>

                        <div class="form-checkbox">
                            <label>
                                <input checked="checked" class="js-privacy-toggle" id="repository_public_false" name="repository[public]" tabindex="5" type="radio" value="false">
                                <%= translate("monkey") %>
                            </label>
                            <span class="mega-octicon octicon-lock"></span>
                            <span class="note">
                                This stuff is bananas. You choose to assign the company to a group of monkeys.
                            </span>
                        </div>

                        -->

                        <button id="create-company-btn" class="btn btn-success btn-block" type="submit"><%= translate("createCompany") %></button>
                    </form>
                      
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><%= translate("exportCompanies") %></h3>
                </div>
                <div class="panel-body">

                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle-thin fa-stack-2x"></i>
                        <i class="fa fa-cloud-download fa-stack-1x"></i>
                    </span>

                    <form id="export-company-form" class="form-export" novalidate="novalidate">
  

                        <p class="help-block"><%= translate("getCompanyList") %>.</p>

                        <button id="get-export-btn" class="btn btn-success btn-block" type="submit"><%= translate("exportCSV") %></button>
                    </form>
                          
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-pills">
                <li><a href="#all-companies-tab" data-toggle="tab"><%= translate("allCompanies") %></a></li>
                <li><a href="#active-tab" data-toggle="tab"><%= translate("active") %></a></li>
                
                <li><a href="#disable-tab" data-toggle="tab"><%= translate("disable") %></a></li>
                <!--
                <li><a href="#done-tab" data-toggle="tab"><%= translate("done") %></a></li>
                <li><a href="#humans-tab" data-toggle="tab"><%= translate("humans") %></a></li>
                <li><a href="#monkeys-tab" data-toggle="tab"><%= translate("monkeys") %></a></li>
                -->
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade active in" id="all-companies-tab"></div>
                <div class="tab-pane" id="now-tab"></div>
                <div class="tab-pane" id="later-tab"></div>
                <div class="tab-pane" id="done-tab"></div>
                <div class="tab-pane" id="active-tab"></div>
                <div class="tab-pane" id="disable-tab"></div>
                <!--
                <div class="tab-pane" id="humans-tab"></div>
                <div class="tab-pane" id="monkeys-tab"></div>
                -->
            </div>  
        </div>
    </div>
</div>


<!-- company Modal popup -->
<div class="modal fade" id="companyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                <h4 class="modal-title" id="myModalLabel"><%= translate("companyDetails") %></h4>
            </div>
            <div class="modal-body">

                <p>Trouble Tickets track and manage IT problems and their solutions for multiple clients. Use this page to change the contents of an existing Trouble Ticket.</p>

                <div class="row">
                    <div class="col-md-12">

                        <div class="panel panel-default">
                            <!-- Default panel contents -->

                            <!-- Table -->
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th scope="row"><%= translate("yourUsername") %></th>
                                        <td id="company-uuid"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><%= translate("yourEmail") %></th>
                                        <td id="company-title"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><%= translate("companyName") %></th>
                                        <td id="company-assigned"></td>        
                                    </tr>
                                    <tr>
                                        <th scope="row"><%= translate("streetAddress") %></th>
                                        <td id="company-label"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><%= translate("cityTown") %></th>
                                        <td id="company-label"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><%= translate("stateProvince") %></th>
                                        <td id="company-label"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><%= translate("zipPostal") %></th>
                                        <td id="company-label"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><%= translate("countryCompany") %></th>
                                        <td id="company-label"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><%= translate("dba") %></th>
                                        <td id="company-label"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><%= translate("telephone") %></th>
                                        <td id="company-label"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><%= translate("fax") %></th>
                                        <td id="company-label"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><%= translate("companyEmail") %></th>
                                        <td id="company-label"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><%= translate("legalCompanyName") %></th>
                                        <td id="company-label"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><%= translate("dateOfIncorporation") %></th>
                                        <td id="company-label"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><%= translate("incorporatedNumber") %></th>
                                        <td id="company-label"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><%= translate("incorporatedAddress") %></th>
                                        <td id="company-label"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><%= translate("incorporatedStateProvince") %></th>
                                        <td id="company-label"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><%= translate("incorporatedCountry") %></th>
                                        <td id="company-label"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><%= translate("federalTaxId") %></th>
                                        <td id="company-label"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><%= translate("vatTaxIdFileNumber") %></th>
                                        <td id="company-label"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><%= translate("ifCompanySubsidiaryName") %></th>
                                        <td id="company-label"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><%= translate("ifCompanySubsidiaryRegistrationNum") %></th>
                                        <td id="company-label"></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <button id="update-btn" class="btn btn-lg btn-primary btn-block" type="submit"><%= translate("update") %></button>
                <button id="close-btn" class="btn btn-lg btn-danger btn-block" type="button"><%= translate("cancel") %></button>
                <!--
                <button id="signup-btn" class="btn btn-lg btn-primary btn-block" type="submit"><%= translate("signUp") %></button>
                <button id="fun-login" type="button" class="btn btn-lg btn-default btn-block"><%= translate("login") %></button>
                -->
            </div>
        </div>
    </div>
</div>