<div id="dashboard">

    <div class="inner">

        <div class="container">

            <div class="row">

                
                <!--
                <div class="col-md-6 pull-left">
                    <i class="fa fa-quote-left"></i><h4>It can only be attributable to human error.</h4>
                </div>
                -->

                <div class="col-md-6 pull-right">

                    <div class="btn-group pull-right" data-toggle="buttons">
                        <label id="today-btn" class="btn btn-default active">
                            <input type="radio" name="private" value="1"> <%= translate("today") %>
                        </label>
                        <label id="this-week-btn" class="btn btn-default">
                            <input type="radio" name="private" value="2"> <%= translate("thisWeek") %>
                        </label>
                        <label id="this-month-btn" class="btn btn-default">
                            <input type="radio" name="private" value="3"> <%= translate("thisMonth") %>
                        </label>
                        <label id="this-year-btn" class="btn btn-default">
                            <input type="radio" name="private" value="4"> <%= translate("thisYear") %>
                        </label>
                    </div>
                </div> 

            </div>

            <div class="row">
                <!-- today summary -->
                <div id="fun-today-summary"></div>

                <!-- today activity chart -->
                <div id="fun-today-activity-chart"></div>
            </div>

            <div class="row">
                <!-- last records -->
                <div id="fun-last-records"></div>

                <!-- latest records -->
                <div id="fun-latest-records"></div>

                <!-- record type -->
                <div id="fun-record-type"></div>
            </div>

        </div>
    </div>
</div>