<div id="dashboard">

    <div class="inner">

        <div class="container">

            <div class="row">

                
                <!--
                <div class="col-md-6 pull-left">
                    <i class="fa fa-quote-left"></i><h4>It can only be attributable to human error.</h4>
                </div>
                -->

                <div class="col-md-6 pull-right">

                    <div class="btn-group pull-right" data-toggle="buttons">
                        <label id="today-btn" class="btn btn-default active">
                            <input type="radio" name="private" value="1"> <%= translate("today") %>
                        </label>
                        <label id="this-week-btn" class="btn btn-default">
                            <input type="radio" name="private" value="2"> <%= translate("thisWeek") %>
                        </label>
                        <label id="this-month-btn" class="btn btn-default">
                            <input type="radio" name="private" value="3"> <%= translate("thisMonth") %>
                        </label>
                        <label id="this-year-btn" class="btn btn-default">
                            <input type="radio" name="private" value="4"> <%= translate("thisYear") %>
                        </label>
                    </div>
                </div> 

            </div>

            <div class="row">
                <!-- today summary -->
                <div id="fun-today-summary"></div>

                <!-- today activity chart -->
                <div id="fun-today-activity-chart"></div>
            </div>

            <div class="row">
                <!-- last records -->
                <div id="fun-last-records"></div>

                <!-- latest records -->
                <div id="fun-latest-records"></div>

                <!-- record type -->
                <div id="fun-record-type"></div>
            </div>

        </div>
    </div>
</div>



<!-- task Modal popup -->
<div class="modal fade" id="pvtScriptModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                <!--<h4 class="modal-title" id="myModalLabel"><%= translate("pvtScriptModalTitle") %></h4>-->
                <h4 class="modal-title" id="myModalLabel"><%= translate("incomingCall") %></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <button id="close-task-btn" class="btn btn-lg btn-danger btn-block" type="button"><%= translate("ignore") %></button>
                    </div>
                    <div class="col-md-4">
                        <button id="incoming-form-btn" class="btn btn-lg btn-success btn-block" type="submit"><%= translate("form") %></button>
                    </div>
                    <div class="col-md-4">
                        <button id="update-task-btn" class="btn btn-lg btn-primary btn-block" type="submit"><%= translate("save") %></button>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div id="campaign-scriptHere"></div>
                    <div id="formView" class="col-md-6 hide">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="initial"><%= translate("prescriptionFormModalFormInitial") %>:</label>
                                        <input type="text" class="form-control" id="initial" placeholder="Initial">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="date"><%= translate("prescriptionFormModalFormDate") %>:</label>
                                        <input type="text" class="form-control" id="date" placeholder="Date">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="pain"><%= translate("prescriptionFormModalFormPain") %>:</label>
                                        <input type="text" class="form-control" id="pain" placeholder="Pain">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="scar"><%= translate("prescriptionFormModalFormScar") %>:</label>
                                        <input type="text" class="form-control" id="scar" placeholder="Scar">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="wound"><%= translate("prescriptionFormModalFormWound") %>:</label>
                                        <input type="text" class="form-control" id="wound" placeholder="Wound">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="prevmeds"><%= translate("prescriptionFormModalFormPrevmeds") %>:</label>
                                        <input type="text" class="form-control" id="prevmeds" placeholder="Prev. Meds">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="allergies"><%= translate("prescriptionFormModalFormAllergies") %>:</label>
                                        <input type="text" class="form-control" id="allergies" placeholder="Allergies">
                                    </div>
                                </div>
                            </div>

                            <hr>

                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="patientname"><%= translate("prescriptionFormModalFormPatientName") %>:</label>
                                        <input type="text" class="form-control" id="patientname" placeholder="Patient Name">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="patientphone"><%= translate("prescriptionFormModalFormPatientPhone") %>:</label>
                                        <input type="text" class="form-control" id="patientphone" placeholder="Phone #">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="patientaddress"><%= translate("prescriptionFormModalFormPatientAddress") %>:</label>
                                        <input type="text" class="form-control" id="patientaddress" placeholder="Address">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="patientcity"><%= translate("prescriptionFormModalFormPatientCity") %>:</label>
                                        <input type="text" class="form-control" id="patientcity" placeholder="City">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="patientst"><%= translate("prescriptionFormModalFormPatientSt") %>:</label>
                                        <input type="text" class="form-control" id="patientst" placeholder="ST">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="patientzip"><%= translate("prescriptionFormModalFormPatientZip") %>:</label>
                                        <input type="text" class="form-control" id="patientzip" placeholder="ZIP">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="patientbirthday"><%= translate("prescriptionFormModalFormPatientBirthday") %>:</label>
                                        <input type="text" class="form-control" id="patientbirthday" placeholder="Date of Birth">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="patienttdi"><%= translate("prescriptionFormModalFormPatientTdi") %>:</label>
                                        <input type="text" class="form-control" id="patienttdi" placeholder="TDI/ SS#">
                                    </div>
                                </div>
                            </div>

                            <hr>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="physicianname"><%= translate("prescriptionFormModalFormPhysicianName") %>:</label>
                                        <input type="text" class="form-control" id="physicianname" placeholder="PHYSICIAN name">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="physicianphone"><%= translate("prescriptionFormModalFormPhysicianPhone") %>:</label>
                                        <input type="text" class="form-control" id="physicianphone" placeholder="Phone #">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="physicianfax"><%= translate("prescriptionFormModalFormPhysicianFax") %>:</label>
                                        <input type="text" class="form-control" id="physicianfax" placeholder="Fax #">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="physicianaddress"><%= translate("prescriptionFormModalFormPhysicianAddress") %>:</label>
                                        <input type="text" class="form-control" id="physicianaddress" placeholder="Address">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="physiciancity"><%= translate("prescriptionFormModalFormPhysicianCity") %>:</label>
                                        <input type="text" class="form-control" id="physiciancity" placeholder="City">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="physicianst"><%= translate("prescriptionFormModalFormPhysicianSt") %>:</label>
                                        <input type="text" class="form-control" id="physicianst" placeholder="ST">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="physicianzip"><%= translate("prescriptionFormModalFormPhysicianZip") %>:</label>
                                        <input type="text" class="form-control" id="physicianzip" placeholder="ZIP">
                                    </div>
                                </div>
                            </div>

                            <hr>

                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="employername"><%= translate("prescriptionFormModalFormEmployerName") %>:</label>
                                        <input type="text" class="form-control" id="employername" placeholder="Employer Name">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="employerphone"><%= translate("prescriptionFormModalFormEmployerPhone") %>:</label>
                                        <input type="text" class="form-control" id="employerphone" placeholder="Phone #">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="employeraddress"><%= translate("prescriptionFormModalFormEmployerAddress") %>:</label>
                                        <input type="text" class="form-control" id="employeraddress" placeholder="Address">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="employercity"><%= translate("prescriptionFormModalFormEmployerCity") %>:</label>
                                        <input type="text" class="form-control" id="physiciancity" placeholder="City">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="employerst"><%= translate("prescriptionFormModalFormEmployerSt") %>:</label>
                                        <input type="text" class="form-control" id="employerst" placeholder="ST">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="employerzip"><%= translate("prescriptionFormModalFormEmployerZip") %>:</label>
                                        <input type="text" class="form-control" id="employerzip" placeholder="ZIP">
                                    </div>
                                </div>
                            </div>

                            <hr>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="pharmacyinfo"><%= translate("prescriptionFormModalFormPharmacyInfo") %>:</label>
                                        <input type="text" class="form-control" id="pharmacyinfo" placeholder="Pharmacy Info">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="workerscomp"><%= translate("prescriptionFormModalFormWorkersComp") %>:</label>
                                        <input type="text" class="form-control" id="workerscomp" placeholder="WORKERS COMP">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="pharmacydoa"><%= translate("prescriptionFormModalFormPharmacyDoa") %>:</label>
                                        <input type="text" class="form-control" id="pharmacydoa" placeholder="DOA">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="workersdoa"><%= translate("prescriptionFormModalFormWorkersDoa") %>:</label>
                                        <input type="text" class="form-control" id="workersdoa" placeholder="DOA">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="pharmacyrxid"><%= translate("prescriptionFormModalFormPharmacyRxId") %>:</label>
                                        <input type="text" class="form-control" id="pharmacyrxid" placeholder="RX ID">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="workersclaim"><%= translate("prescriptionFormModalFormWorkersClaim") %>:</label>
                                        <input type="text" class="form-control" id="workersclaim" placeholder="Claim">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="pharmacyrxgroup"><%= translate("prescriptionFormModalFormPharmacyRxGroup") %>:</label>
                                        <input type="text" class="form-control" id="pharmacyrxgroup" placeholder="RX Group">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="workersadjname"><%= translate("prescriptionFormModalFormWorkersAdjName") %>:</label>
                                        <input type="text" class="form-control" id="workersadjname" placeholder="ADJ. Name">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="pharmacypcnnumber"><%= translate("prescriptionFormModalFormPharmacyPcnNumber") %>:</label>
                                        <input type="text" class="form-control" id="pharmacypcnnumber" placeholder="PCN #">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="workersadjaddress"><%= translate("prescriptionFormModalFormWorkersAdjAddress") %>:</label>
                                        <input type="text" class="form-control" id="workersadjaddress" placeholder="ADJ. Address">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="customerservicenumber"><%= translate("prescriptionFormModalFormCustomerServiceNumber") %>:</label>
                                        <input type="text" class="form-control" id="customerservicenumber" placeholder="Customer Service #">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="pharmacyinfo2"><%= translate("prescriptionFormModalFormPharmacyInfo2") %>:</label>
                                        <input type="text" class="form-control" id="pharmacyinfo2" placeholder="Pharmacy Info">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="pharmacyph"><%= translate("prescriptionFormModalFormPharmacyPh") %>:</label>
                                        <input type="text" class="form-control" id="pharmacyph" placeholder="Pharmacy PH">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <h4>MMSWC/CR</h4>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div id="pills" class="col-md-6 show">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <!-- Default panel contents -->

                                    <!-- Table -->
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <th scope="row"><%= translate("campaign") %></th>
                                                <td id="incoming-campaign"></td>
                                            </tr>
                                            <tr>
                                                <th scope="row"><%= translate("firstName") %></th>
                                                <td id="incoming-firstName"></td>
                                            </tr>
                                            <tr>
                                                <th scope="row"><%= translate("lastName") %></th>
                                                <td id="incoming-lastName"></td>
                                            </tr>
                                            <tr>
                                                <th scope="row"><%= translate("phone") %></th>
                                                <td id="incoming-phone"></td>
                                            </tr>
                                            <tr>
                                                <th scope="row"><%= translate("year") %></th>
                                                <td id="incoming-year"></td>
                                            </tr>
                                            <tr>
                                                <th scope="row"><%= translate("age") %></th>
                                                <td id="incoming-age"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <!-- Default panel contents -->

                                    <!-- Table -->
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <th scope="row"><%= translate("address") %></th>
                                                <td id="incoming-address"></td>
                                            </tr>
                                            <tr>
                                                <th scope="row"><%= translate("city") %></th>
                                                <td id="incoming-city"></td>
                                            </tr>
                                            <tr>
                                                <th scope="row"><%= translate("state") %></th>
                                                <td id="incoming-state"></td>    
                                            </tr>
                                            <tr>
                                                <th scope="row"><%= translate("zip") %></th>
                                                <td id="incoming-zip"></td>
                                            </tr>
                                            <tr>
                                                <th scope="row"><%= translate("insurance") %></th>
                                                <td id="incoming-insurance"></td>
                                            </tr>
                                            <tr>
                                                <th scope="row"><%= translate("uuid") %></th>
                                                <td id="incoming-uuid"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4>Comment:</h4>

                        <textarea id="task-comment"
                            rows="5"
                            cols="66"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class"row">
                    <div class="col-md-4">
                        <button id="close-task-btn" class="btn btn-lg btn-danger btn-block" type="button"><%= translate("ignore") %></button>
                    </div>
                    <div class="col-md-4">
                        <button id="incoming-form-btn" class="btn btn-lg btn-success btn-block" type="submit"><%= translate("form") %></button>
                    </div>
                    <div class="col-md-4">
                        <button id="update-task-btn" class="btn btn-lg btn-primary btn-block" type="submit"><%= translate("save") %></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>