<div>
    <!-- account connection status -->
    <div id="conn-status">
        <span class="field"><%= translate("status") %>: </span>
        <span class="value"></span>
    </div>

    <div class="input-group">
        <span class="input-group-addon">@</span>
        <input type="text" class="form-control" placeholder="Username">
    </div>

    <div class="btn-group btn-group-justified">
        <a id="digit-1" type="button" class="btn btn-default"><%= translate("one") %></a>
        <a id="digit-2" type="button" class="btn btn-default"><%= translate("two") %></a>
        <a id="digit-3" type="button" class="btn btn-default"><%= translate("three") %></a>
    </div>    

    <div class="btn-group btn-group-justified">
        <a id="digit-4" type="button" class="btn btn-default"><%= translate("four") %></a>
        <a id="digit-5" type="button" class="btn btn-default"><%= translate("five") %></a>
        <a id="digit-6" type="button" class="btn btn-default"><%= translate("six") %></a>
    </div>    

    <div class="btn-group btn-group-justified">
        <a id="digit-7" type="button" class="btn btn-default"><%= translate("seven") %></a>
        <a id="digit-8" type="button" class="btn btn-default"><%= translate("eight") %></a>
        <a id="digit-9" type="button" class="btn btn-default"><%= translate("nine") %></a>
    </div>    

    <div class="btn-group btn-group-justified">
        <a id="digit-asterisk" type="button" class="btn btn-default"><%= translate("asterisk") %></a>
        <a id="digit-0" type="button" class="btn btn-default"><%= translate("zero") %></a>
        <a id="digit-pound" type="button" class="btn btn-default"><%= translate("pound") %></a>
    </div>

    <div class="btn-group btn-group-justified">
        <a id="btn-call" type="button" class="btn btn-default"><%= translate("call") %></a>
        <a id="btn-hangup" type="button" class="btn btn-default"><%= translate("hangup") %></a>
        <a id="btn-message" type="button" class="btn btn-default"><%= translate("message") %></a>
    </div>

</div>