<div class="row">
    <h3><span class="slash"></span><%= translate("quickLinks") %></h3>

    <ol class="breadcrumb">
        <li>
            <a class="btn-header" href="#home">
                <span class="glyphicon glyphicon-home">
                    <%= translate("Home") %>
                </span>
            </a>
        </li>
        <li>
            <a class="btn-header" href="#reports">
                <span class="glyphicon glyphicon-stats">
                    <%= translate("Reports") %>
                </span>
            </a>
        </li>
        <li>
            <a class="btn-header" href="#settings">
                <span class="glyphicon glyphicon-wrench">
                    <%= translate("Settings") %>
                </span>
            </a>
        </li>
        <li>
            <a class="btn-header" href="#logout">
                <span class="glyphicon glyphicon-cloud-download">
                    <%= translate("Logout") %>
                </span>
            </a>
        </li> 
    </ol>

</div>
