<div class="col-md-4">
    <h3><%= translate("quickLinks") %></h3>

    <ol class="breadcrumb">
        <li>
            <a class="btn-header" href="#">
                <span class="glyphicon glyphicon-home">
                    <%= translate("Home") %>
                </span>
            </a>
        </li>
        <!--
        <li>
            <a class="btn-header" href="#support">
                <span class="glyphicon glyphicon-globe">
                    <%= translate("Support") %>
                </span>
            </a>
        </li>
        -->
        <li>
            <a class="btn-header" href="#">
                <span class="glyphicon glyphicon-tree-deciduous">
                    <%= translate("Up") %>
                </span>
            </a>
        </li>
        <li>
            <a class="btn-header" href="#login">
                <i class="fa fa-sign-in fa-fw"></i> 
                <%= translate("Login") %>
            </a>
        </li> 
    </ol>

</div>
