<div class="jumbotron">
    <div class="container">
        
        <div class="row">
                
            <div class="col-md-12">
                <h1>Campaign management tools.</h1>

                <div class="landing-text">

                    <h3>
                        Cloud campaign hosting using SIP. Includes organizational tools, real-time reports, settings, documentation, and support.
                    </h3>

                    <!--<p>
                        fa-medium fa-user-times fa-sitemap
                    </p>
                    -->
                    
                </div>
                          
            </div>
            
        </div>

    </div>
</div>

<div class="container marketing">

    <div class="row">

        <div class="col-md-12 marketing-header">

            <span class="fa-stack fa-4x">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-pagelines fa-stack-1x"></i>
            </span>

            <h2><%= translate("whyLove") %>.</h2>
            
            <h3>Growing mango trees in the home landscape will give you a lifetime of fresh pungent fruit from an attractive shade tree.</h3>
            
        </div>
    </div>

    <div class="row">

        <div class="col-md-6">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-paw fa-stack-1x"></i>
            </span>

            <h3><%= translate("outboundCampaigns") %>.</h3>
            <p>The highly vocal howler monkey is the largest of the New World monkeys.</p>
        </div>

        <div class="col-md-6">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-bullhorn fa-stack-1x"></i>
            </span>

            <h3>Broadcast messages to thousands of contacts.</h3>
            <p>Send voice messages and reminders to thousands or millions of contacts at high speed bananas.</p>
        </div>

    </div>


    <div class="row">

        <div class="col-md-6">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-paper-plane-o fa-stack-1x"></i>
            </span>

            <h3>Software go now and do likewise.</h3>
            <p>Cognitive assistant that learns and organizes. This includes the management of emails, calendar, events, files, todo lists and multiple type of task messages.</p>
        </div>
                    


        <div class="col-md-6">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <!-- <i class="fa fa-cloud fa-stack-1x"></i> -->
                <i class="fa fa-meh-o fa-stack-1x"></i>
            </span>

            <h3>Spawn More Overlords.</h3>
            <p>Overlords allow control of additional units and daemons.</p>
        </div>
    </div>

    <!-- enterprise -->
    <div class="row">
        <div class="col-md-12 marketing-header">

            <h2>Bring the fun to your data center.</h2>
            
            <h3>Use IO FUN Enterprise, the best way to manage communications, on your servers.</h3>

            <p class="landing-actions">
                <a href="#enterprise" class="btn btn-large">Learn more about Enterprise</a>
            </p> 
            
        </div>
    </div>
</div> <!-- /container -->  