<div class="col-md-2">
    <h3><%= translate("find") %></h3>

    <div class="btn-group">
        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-time"></span>

        </button>
        <ul class="dropdown-menu">
            <li><a id="fun-btn-hours"><%= translate("hours") %></a></li>
            <li><a id="fun-btn-days"><%= translate("days") %></a></li>
            <li><a id="fun-btn-weeks"><%= translate("weeks") %></a></li>
            <li><a id="fun-btn-months"><%= translate("months") %></a></li>
            <li><a id="fun-btn-years"><%= translate("years") %></a></li>
        </ul>
        <button id="fun-btn-find" class="btn btn-primary"><%= translate("Search") %></button>
    </div>
</div> <!-- /.col-md-2 -->