<div id="footer">
    <div class="inner">
        <div class="container">

            <div class="row">
                <div class="col-md-12">

                    <ul class="list-inline pull-right">
                        <!--<li><a href="#status"><%= translate("status") %></a></li>
                        <li><a href="#developers"><%= translate("api") %></a></li>-->
                        <li><a href="#help"><%= translate("help") %></a></li>
                    </ul>

                    <ul class="list-inline">
                        <li>&copy; 2015 <span><%= translate("ioFun") %></span>, Inc.</li>
                        <li><a href="https://medium.com/fun-technology" target="_blank"><%= translate("blog") %></a></li>
                        <li><a href="https://github.com/iofun" target="_blank"><%= translate("developers") %></a></li>
                        <li><a href="#companies" target=""><%= translate("companies") %></a></li>
                        <!--<li><a href="#terms"><%= translate("terms") %></a></li>
                        <li><a href="#privacy"><%= translate("privacy") %></a></li>
                        <li><a href="#security"><%= translate("security") %></a></li>-->
                        <!--
                        <li><a href="#support"><%= translate("contact") %></a></li>
                        -->
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>