<ul class="nav nav-pills pull-right">
    <li><a href="#dashboard"><%= translate("activity") %></a></li>
    <li><a href="#campaigns"><%= translate("campaigns") %></a></li>
    <li><a href="#contacts"><%= translate("contacts") %><span class="badge pull-right">10</span></a></li>
    <li><a href="#cubes"><%= translate("cubes") %><span class="badge pull-right">3</span></a></li>
    <!--
    <li><a href="#tasks"><%= translate("tasks") %></a></li>
    <li><a href="#tasks"><%= translate("goals") %></a></li>
    -->

    <li id="head-nav-members" class="hide"><a href="#members"><%= translate("members") %><span class="badge pull-right">42</span></a></li>
    <li id="head-nav-teams" class="hide"><a href="#teams"><%= translate("teams") %><span class="badge pull-right">13</span></a></li>

    <!--
    <li id="head-nav-monkeys"><a href="#monkeys"><%= translate("monkeys") %></a></li>
    <li id="head-nav-daemons"><a href="#daemons"><%= translate("daemons") %></a></li>

    <li id="head-nav-servers"><a href="#servers"><%= translate("servers") %></a></li>
    -->
</ul>
