<ul class="nav nav-pills pull-right">
    <li><a id="details-report-btn" href="#details-tab" data-toggle="tab"><%= translate("details") %><span class="badge pull-right"></span></a></li>
    <li><a href="#distribution-tab" data-toggle="tab"><%= translate("distribution") %></a></li>
    <li><a href="#estimates-tab" data-toggle="tab"><%= translate("estimates") %></a></li>
    <li><a href="#frequency-tab" data-toggle="tab"><%= translate("frequency") %></a></li>
    <li><a href="#summaries-tab" data-toggle="tab"><%= translate("summaries") %></a></li>
</ul>