<ul class="nav nav-pills pull-right">
	
<!--
	<li><a href="#dashboard"><%= translate("activity") %></a></li>
    -->
    <li><a href="#campaigns"><%= translate("campaigns") %><span class="badge pull-right"></span></a></li>
    <li><a href="#sounds"><%= translate("sounds") %><span class="badge pull-right"></span></a></li>
    <li><a href="#contacts"><%= translate("contacts") %><span class="badge pull-right"></span></a></li>
    
    <li><a href="#reports"><%= translate("reports") %><span class="badge pull-right"></span></a></li>
    
    <!--
    <li><a href="#recordings">Recordings<span class="badge pull-right"></span></a></li>
    -->

</ul>