<ul class="nav nav-pills pull-right">

    <li id="head-nav-phone"><a href="#phone"><%= translate("phone") %></a></li>
    <li id="head-nav-campaigns"><a href="#campaigns"><%= translate("campaigns") %></a></li>
    <li id="head-nav-contacts"><a href="#contacts"><%= translate("contacts") %></a></li>

    <!--
    <li id="head-nav-cubes"><a href="#cubes"><%= translate("cubes") %></a></li>
    -->

    <li id="head-nav-routes"><a href="#gateways"><%= translate("gateways") %></a></li>

    <li id="head-nav-tasks"><a href="#tasks"><%= translate("tasks") %></a></li>

    <li id="head-nav-members" class="hide"><a href="#members"><%= translate("members") %></a></li>
    <li id="head-nav-teams" class="hide"><a href="#teams"><%= translate("teams") %></a></li>

    <!--

    <li id="head-nav-monkeys"><a href="#monkeys"><%= translate("monkeys") %></a></li>
    <li id="head-nav-daemons"><a href="#daemons"><%= translate("daemons") %></a></li>

    <li id="head-nav-servers"><a href="#servers"><%= translate("servers") %></a></li>
    -->

</ul>