<div class="container">
        
    <div class="row">

        <div class="col-md-12">
            <p>add here ticket system to process help query requests</p>   

            tittle, description, resource, contact email
            <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading">Customer Support System</div>
              <div class="panel-body">

                <form id="help-form" class="form-help" novalidate="novalidate">


                    

                    

                    

                    

                    
                </form>
                <!-- Table -->
                                      <table class="table">
                                        <tbody>
                                          <tr>
                                            <th scope="row"><%= translate("firstName") %></th>
                                            <td id="help-firstname">
                                                <div class="form-group">
                                                    <input type="text" id="help_firstname" name="signup_firstname" class="form-control" placeholder="<%= translate("yourFirstName") %>">
                                                </div>
                                            </td>
                                          </tr>
                                          <tr>
                                            <th scope="row"><%= translate("lastName") %></th>
                                            <td id="help-firstname">
                                                <div class="form-group">
                                                    <input type="text" id="help_lastname" name="signup_lastname" class="form-control" placeholder="<%= translate("yourLastName") %>">
                                                </div>
                                            </td>
                                          </tr>
                                          <tr>
                                            <th scope="row"><%= translate("help") %></th>
                                            <td id="help-title">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="help_description" name="help_description" placeholder="<%= translate("heyWhoCanWeHelpYou?") %>"/>
                                                </div>
                                            </td>
                                          </tr>
                                          
                                          <tr>
                                            <th scope="row"><%= translate("resource") %></th>
                                            <td id="help-resource">
                                                <div class="form-group">
                                                    <input type="text" id="help_resource" name="help_resource" class="form-control">
                                                </div>
                                            </td>
                                          </tr>
                                          <tr>
                                            <th scope="row"><%= translate("followUp") %></th>
                                            <td id="help-followup">
                                                <div class="form-group">
                                                    <input type="text" id="help_email" name="signup_email" class="form-control" placeholder="<%= translate("yourEmail") %>">
                                                </div>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
              </div>

              
            </div> 
        </div>
            
    </div>
</div>