<div class="col-md-7">
    
    <h3 class="title"><%= translate("latestRecords") %></h3>
    
    <table id="records-list" class="table">
        <thead>
            <tr>
                <th><%= translate("date") %></th>
                <th><%= translate("source") %></th>
                <th><%= translate("destination") %></th>
                <th><%= translate("duration") %></th>
                <th><%= translate("status") %></th>
            </tr>
        </thead>
                
        <tbody>
            <!-- table body-->        
        </tbody>

    <ul class="records-list">
        <!-- list -->
    </ul>
        
    </table>
    <div id="no-records"></div>
</div> <!-- /.col-md-7 -->
