<div class="navbar navbar-inverse navbar-static-top">
    
    <div class="container">

        <div class="navbar-header">

            <button type="button" class="navbar-toggle"  data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only"><%= translate("ioFunNavigation") %></span>
                <!-- navbar icon-->
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
      
            <a id="brand-n-stuff" class="navbar-brand" href="#home">
                <%= translate("iofun") %>
            </a>
        </div>

        <div class="collapse navbar-collapse bs-navbar-collapse">
            <!-- renderLanding -->
            <div id="fun-nav-landing"></div>
            <!-- renderDashboard -->
            <div id="fun-nav-dashboard"></div>
            <!-- renderAdmin -->
            <div id="fun-nav-admin"></div>
        </div>

    </div>

</div>