<ul class="nav navbar-nav navbar-right">

    <li>
        <a href="#messages" title="<%= translate("Messages") %>">
            <i class="fa fa-envelope fa-fw"></i>
            <%= translate("Messages") %>
        </a>
    </li>

    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-plus fa-fw"></i>
            <%= translate("Create") %>
            
        </a>

        <ul class="dropdown-menu" role="menu">
            <li id="nav-new-task"><a href="#tasks"><i class="fa fa-plug fa-fw"></i> <%= translate("newTask") %></a></li>
            <li id="nav-new-contact"><a href="#contacts"><i class="fa fa-book fa-fw"></i> <%= translate("newContact") %></a></li>
            <li id="nav-new-account" class="hide"><a href="#accounts"><i class="fa fa-user-plus fa-fw"></i> <%= translate("newAccount") %></a></li>
            <li id="nav-new-member" class="hide"><a href="#members"><i class="fa fa-user-plus fa-fw"></i> <%= translate("newMember") %></a></li>
            <li id="nav-new-team" class="hide"><a href="#teams"><i class="fa fa-paw fa-fw"></i> <%= translate("newTeam") %></a></li>
            <li id="nav-new-campaign"><a href="#campaigns"><i class="fa fa-dot-circle-o fa-fw"></i> <%= translate("newCampaign") %></a></li>
            <li id="nav-new-cube" class="hide"><a href="#cubes"><i class="fa fa-cube fa-fw"></i> <%= translate("newCube") %></a></li>
            <li id="nav-new-resource" class="hide"><a href="#resources"><i class="fa fa-diamond fa-fw"></i> <%= translate("newResource") %></a></li>
            <li id="nav-new-gateway" class="hide"><a href="#gateways"><i class="fa fa-train fa-fw"></i> <%= translate("newGateway") %></a></li>
            <li id="nav-new-org"><a href="#orgs"><i class="fa fa-users fa-fw"></i> <%= translate("newOrganization") %></a></li>
        </ul>
    </li>

    <li>
        <a href="#reports" title="<%= translate("Reports") %>">
            <i class="fa fa-pie-chart fa-fw"></i>
            <%= translate("Reports") %>
        </a>
    </li>

    <li>
        <a href="#settings" title="<%= translate("Settings") %>">
            <i class="fa fa-cog fa-fw"></i>
            <%= translate("Settings") %>
        </a>
    </li>

    <li>
        <a href="#logout" title="<%= translate("Exit") %>">
            <i class="fa fa-sign-out fa-fw"></i> 
            <%= translate("Exit") %>
        </a>
    </li> 
</ul>