<div class="navbar-right">
<ul class="nav navbar-nav">
    <li>
        <a href="#features">
            <i class="fa fa-dot-circle-o fa-fw"></i> 
            <%= translate("Features") %>
        </a>
    </li>
    <li>
        <a href="#enterprise">
            <i class="fa fa-suitcase fa-fw"></i> 
            <%= translate("Enterprise") %>
        </a>
    </li>
</ul>

<a href="#signup" class="btn btn-success navbar-btn" role="button"><%= translate("Sign up") %></a>

<a href="#login" class="btn btn-default navbar-btn" role="button"><%= translate("Sign in") %></a>
</div>