<div class="jumbotron">
    <div class="container">
        
        <div class="row">
                
            <div class="col-md-12">
                <h1>Plans and pricing.</h1>

                <div class="landing-text">

                    <h3>
                        I/O FUN is free to use for public campaigns. Collaborate on private resources with any of our paid plans.
                    </h3>
                    
                </div>
                          
            </div>
            
        </div>

    </div>
</div>

<div class="container marketing">

    <div class="row">

        <div class="col-md-12 marketing-header">

            <span class="fa-stack fa-4x">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-user-secret fa-stack-1x"></i>
            </span>

            <h2><%= translate("personalPlans") %>.</h2>
            
            <h3>For individuals looking to share their own projects and collaborate with others.</h3>
            
        </div>
    </div>

    <div class="row">

        <div class="bs-example" data-example-id="panel-without-body-with-table">
            <div class="panel panel-default">
              <!-- Default panel contents -->
              
              <!-- Table -->
              <table class="table">
                <thead>
                  <tr id="user-plans">
                    <th></th>
                    <th><h4>Free</h4></th>
                    <th><h3>Micro</h3></th>
                    <th>Small</th>
                    <th>Medium</th>
                    <th>Large</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row"></th>
                    <th>$0/month</th>
                    <th>$8/month</th>
                    <th>$13/month</th>
                    <th>$23/month</th>
                    <th>$51/month</th>
                  </tr>
                  <tr>
                    <th scope="row">Members</th>
                    <td>Unlimited</td>
                    <td>Unlimited</td>
                    <td>Unlimited</td>
                    <td>Unlimited</td>
                    <td>Unlimited</td>
                  </tr>
                  <tr>
                    <th scope="row">Public resources</th>
                    <td>Unlimited</td>
                    <td>Unlimited</td>
                    <td>Unlimited</td>
                    <td>Unlimited</td>
                    <td>Unlimited</td>
                  </tr>
                  <tr>
                    <th scope="row">Private resources</th>
                    <td>0</td>
                    <td>5</td>
                    <td>10</td>
                    <td>20</td>
                    <td>50</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

    </div>

    <div class="row">

        <div class="col-md-12 marketing-header">

            <span class="fa-stack fa-4x">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-users fa-stack-1x"></i>
            </span>

            <h2><%= translate("organizationPlans") %>.</h2>
            
            <h3>Organizations are best suited for businesses managing teams and multiple campaigns.</h3>
            
        </div>
    </div>

    <div class="row">

        <div class="bs-example" data-example-id="panel-without-body-with-table">
            <div class="panel panel-default">
              <!-- Default panel contents -->
              
              <!-- Table -->
              <table class="table">
                <thead>
                  <tr id="org-plans">
                    <th></th>
                    <th>Free</th>
                    <th>Bronze</th>
                    <th>Silver</th>
                    <th>Gold</th>
                    <th>Platinum</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row"></th>
                    <th>$0/month</th>
                    <th>$25/month</th>
                    <th>$50/month</th>
                    <th>$100/month</th>
                    <th>$200/month</th>
                  </tr>
                  <tr>
                    <th scope="row">Members</th>
                    <td>Unlimited</td>
                    <td>Unlimited</td>
                    <td>Unlimited</td>
                    <td>Unlimited</td>
                    <td>Unlimited</td>
                  </tr>
                  <tr>
                    <th scope="row">Public resources</th>
                    <td>Unlimited</td>
                    <td>Unlimited</td>
                    <td>Unlimited</td>
                    <td>Unlimited</td>
                    <td>Unlimited</td>
                  </tr>
                  <tr>
                    <th scope="row">Private resources</th>
                    <td>0</td>
                    <td>10</td>
                    <td>20</td>
                    <td>50</td>
                    <td>125</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
    </div>
    <!-- enterprise -->
    <div class="row">
        <div class="col-md-12 marketing-header">

            <h2>Bring the fun to your data center.</h2>
            
            <h3>Use I/O FUN Enterprise, the best way to manage communications, on your servers.</h3>

            <p class="landing-actions">
                <a href="#enterprise" class="btn btn-large">Learn more about Enterprise</a>
            </p> 
            
        </div>
    </div>
</div> <!-- /container -->  