<div class="col-md-4">
                    
    <h3><%= translate("subscribeToOurUpdates") %></h3>
    <form>
        <div class="input-group">
            <input id="subscribe-email" type="text" class="form-control" placeholder="Your email">
            <span class="input-group-btn">
                <button id="subscribe-btn" class="btn btn-default" type="button"><%= translate("subscribe") %></button>
            </span>
        </div><!-- /input-group -->
    </form>
                                       
</div> <!-- /col-md-4 -->