<div class="container">
        
    <div class="row">

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><%= translate("newTask") %></h3>
                </div>
                <div class="panel-body">

                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle-thin fa-stack-2x"></i>
                        <i class="fa fa-key fa-stack-1x"></i>
                    </span>

                    <form id="profile-form" class="form-profile" novalidate="novalidate">

                        <div class="row">
                            <div class="col-md-3">
                                <div class="btn-group ">
                                    <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                                        <i class="fa fa-user fa-fw"></i>
                                        <span data-label-placement="">jdoe</span> 
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <input type="radio" id="current_account_1" name="current_account" value="1" checked="">
                                            <label for="current_account_1">jdoe</label>
                                        </li>
                                        
                                        <li>
                                            <a href="#settings"><i class="fa fa-heartbeat fa-fw"></i> io fun owners</a>
                                        </li>

                                        <li>
                                            <a href="#settings"><i class="fa fa-paw fa-fw"></i> fun-heads team</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-8">

                                <div class="input-group">
                                    <span class="input-group-addon">/</span>
                                    <input id="task_name" type="text" class="form-control" placeholder="Schedule for using Beanbags and Pillows">
                                </div>

                                <p>
                                    <%= translate("greatTaskNames") %>.
                                </p>

                            </div>
                        </div>                                       

                        <div class="form-group">
                            <label for="task_description"><%= translate("description") %></label>
                            <input type="text" id="task_description" name="task_description" class="form-control">
                        </div>

                        <!--

                        <div class="form-checkbox">
                            <label>
                                <input checked="checked" class="js-privacy-toggle" id="repository_public_true" name="repository[public]" tabindex="5" type="radio" value="true">
                                <%= translate("human") %>
                            </label>
                            <span class="mega-octicon octicon-repo"></span>

                            <span class="note">
                                Humans can work this task. You choose to assign the task to a human agent.
                            </span>
                        </div>

                        <div class="form-checkbox">
                            <label>
                                <input checked="checked" class="js-privacy-toggle" id="repository_public_false" name="repository[public]" tabindex="5" type="radio" value="false">
                                <%= translate("monkey") %>
                            </label>
                            <span class="mega-octicon octicon-lock"></span>
                            <span class="note">
                                This stuff is bananas. You choose to assign the task to a group of monkeys.
                            </span>
                        </div>

                        -->

                        <button id="create-task-btn" class="btn btn-success btn-block" type="submit"><%= translate("createTask") %></button>
                    </form>
                      
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><%= translate("exportTasks") %></h3>
                </div>
                <div class="panel-body">

                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle-thin fa-stack-2x"></i>
                        <i class="fa fa-folder fa-stack-1x"></i>
                    </span>

                    <form id="export-task-form" class="form-export" novalidate="novalidate">
  

                        <p class="help-block"><%= translate("getTaskList") %>.</p>

                        <button id="get-export-btn" class="btn btn-success btn-block" type="submit"><%= translate("exportCSV") %></button>
                    </form>
                          
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-pills">
                <li><a href="#all-tasks-tab" data-toggle="tab"><%= translate("allTasks") %></a></li>
                <li><a href="#now-tab" data-toggle="tab"><%= translate("now") %></a></li>
                <li><a href="#later-tab" data-toggle="tab"><%= translate("later") %></a></li>
                <li><a href="#done-tab" data-toggle="tab"><%= translate("done") %></a></li>
                <!--
                <li><a href="#humans-tab" data-toggle="tab"><%= translate("humans") %></a></li>
                <li><a href="#monkeys-tab" data-toggle="tab"><%= translate("monkeys") %></a></li>
                -->
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade active in" id="all-tasks-tab"></div>
                <div class="tab-pane" id="now-tab"></div>
                <div class="tab-pane" id="later-tab"></div>
                <div class="tab-pane" id="done-tab"></div>
                <!--
                <div class="tab-pane" id="humans-tab"></div>
                <div class="tab-pane" id="monkeys-tab"></div>
                -->
            </div>  
        </div>
    </div>
</div>
<!--
<div class="container">
        
    <div class="row">

        <div class="col-md-12">
            <p>now, later, done</p>  

            Star, Who, Title, Date, Flag, UUID

            resource/collections
            location

            all-day
            starts at
            ends at
            occurs {dropdown, once, etc..}
            alarm {dropdown, none, etc}
            message
        </div>
            
    </div>
</div>


Lable   Title   Description Name    Email   Status  UUID


-->

<!-- task Modal popup -->
<div class="modal fade" id="taskModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                <h4 class="modal-title" id="myModalLabel"><%= translate("taskDetails") %></h4>
            </div>
            <div class="modal-body">

                <p>Trouble Tickets track and manage IT problems and their solutions for multiple clients. Use this page to change the contents of an existing Trouble Ticket.</p>

                <form id="signup-form" class="form-signup" novalidate="novalidate">

                <div class="form-group">
                    <input type="text" id="client_holdername" name="client_holdername" class="form-control" placeholder="<%= translate("cardHoldName") %>">
                </div>


                <div class="form-group">
                    <div class="input-group">

                        <div id="account-dropdown" class="btn-group">
                            <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                                <i class="fa fa-credit-card fa-fw"></i>
                                <span data-label-placement=""><%= translate("cardType") %></span>
                                <span class="caret"></span>
                            </button>
                            <ul id="account-list-ul" class="dropdown-menu">
                                <li>
                                    <input type="radio" id="credit_card_0" name="card_type" value="0" checked="">
                                    <label for="credit_card_0"><%= translate("dinersClub") %></label>
                                </li>
                                <li>
                                    <input type="radio" id="credit_card_1" name="card_type" value="1" checked="">
                                    <label for="credit_card_1"><%= translate("discover") %></label>
                                </li>
                                <li>
                                    <input type="radio" id="credit_card_2" name="card_type" value="2" checked="">
                                    <label for="credit_card_2"><%= translate("amex") %></label>
                                </li>
                                <li>
                                    <input type="radio" id="credit_card_3" name="card_type" value="3" checked="">
                                    <label for="credit_card_3"><%= translate("masterCard") %></label>
                                </li>
                                <li>
                                    <input type="radio" id="credit_card_4" name="card_type" value="4" checked="">
                                    <label for="credit_card_4"><%= translate("visa") %></label>
                                </li>

                            </ul>
                        </div>
                        <input id="client_cc_digits" type="text" class="form-control" placeholder="<%= translate("theLast4CCDigits") %>">
                    </div>
                </div>

                <div class="form-group">
                    <input type="text" id="client_email" name="client_email" class="form-control" placeholder="<%= translate("yourEmail") %>">
                </div>

                <div class="form-group">
                    <input type="tel" id="client_phone" name="client_phone" class="form-control">
                </div>

            </form>
                
            </div>
            <div class="modal-footer">

                <button id="next-btn" class="btn btn-lg btn-primary btn-block" type="submit"><%= translate("next") %></button>
                <!--
                <button id="signup-btn" class="btn btn-lg btn-primary btn-block" type="submit"><%= translate("signUp") %></button>
                <button id="fun-login" type="button" class="btn btn-lg btn-default btn-block"><%= translate("login") %></button>
                -->
            </div>
        </div>
    </div>
</div>