<div class="container">
        
    <div class="row">
        <div class="col-md-2">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-key fa-stack-1x"></i>
            </span>
        </div>

        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><%= translate("newTask") %></h3>
                </div>
                <div class="panel-body">

                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle-thin fa-stack-2x"></i>
                        <i class="fa fa-key fa-stack-1x"></i>
                    </span>

                    <form id="profile-form" class="form-profile" novalidate="novalidate">

                        <div class="row">
                            <div class="col-md-3">
                                <div class="btn-group ">
                                    <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                                        <i class="fa fa-user fa-fw"></i>
                                        <span data-label-placement="">jdoe</span> 
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <input type="radio" id="current_account_1" name="current_account" value="1" checked="">
                                            <label for="current_account_1">jdoe</label>
                                        </li>
                                        
                                        <li>
                                            <a href="#settings"><i class="fa fa-heartbeat fa-fw"></i> io fun owners</a>
                                        </li>

                                        <li>
                                            <a href="#settings"><i class="fa fa-paw fa-fw"></i> fun-heads team</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-8">

                                <div class="input-group">
                                    <span class="input-group-addon">/</span>
                                    <input id="task_name" type="text" class="form-control" placeholder="Schedule for using Beanbags and Pillows">
                                </div>

                                <p>
                                    <%= translate("greatTaskNames") %>.
                                </p>

                            </div>
                        </div>                                       

                        <div class="form-group">
                            <label for="task_description"><%= translate("descriptionOptional") %></label>
                            <input type="text" id="task_description" name="task_description" class="form-control">
                        </div>

                        <!--

                        <div class="form-checkbox">
                            <label>
                                <input checked="checked" class="js-privacy-toggle" id="repository_public_true" name="repository[public]" tabindex="5" type="radio" value="true">
                                <%= translate("human") %>
                            </label>
                            <span class="mega-octicon octicon-repo"></span>

                            <span class="note">
                                Humans can work this task. You choose to assign the task to a human agent.
                            </span>
                        </div>

                        <div class="form-checkbox">
                            <label>
                                <input checked="checked" class="js-privacy-toggle" id="repository_public_false" name="repository[public]" tabindex="5" type="radio" value="false">
                                <%= translate("monkey") %>
                            </label>
                            <span class="mega-octicon octicon-lock"></span>
                            <span class="note">
                                This stuff is bananas. You choose to assign the task to a group of monkeys.
                            </span>
                        </div>

                        -->

                        <button id="create-task-btn" class="btn btn-success btn-block" type="submit"><%= translate("createTask") %></button>
                    </form>
                      
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-pills">
                <li><a href="#all-tasks-tab" data-toggle="tab"><%= translate("allTasks") %></a></li>
                <li><a href="#now-tab" data-toggle="tab"><%= translate("now") %></a></li>
                <li><a href="#later-tab" data-toggle="tab"><%= translate("later") %></a></li>
                <li><a href="#done-tab" data-toggle="tab"><%= translate("done") %></a></li>
                <!--
                <li><a href="#humans-tab" data-toggle="tab"><%= translate("humans") %></a></li>
                <li><a href="#monkeys-tab" data-toggle="tab"><%= translate("monkeys") %></a></li>
                -->
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade active in" id="all-tasks-tab"></div>
                <div class="tab-pane" id="now-tab"></div>
                <div class="tab-pane" id="later-tab"></div>
                <div class="tab-pane" id="done-tab"></div>
                <!--
                <div class="tab-pane" id="humans-tab"></div>
                <div class="tab-pane" id="monkeys-tab"></div>
                -->
            </div>  
        </div>
    </div>
</div>
<!--
<div class="container">
        
    <div class="row">

        <div class="col-md-12">
            <p>now, later, done</p>  

            Star, Who, Title, Date, Flag, UUID

            resource/collections
            location

            all-day
            starts at
            ends at
            occurs {dropdown, once, etc..}
            alarm {dropdown, none, etc}
            message
        </div>
            
    </div>
</div>
-->