<div class="col-md-4">
    <h3><%= translate("summary") %></h3>

    <table class="table stat-table">
        <tbody>
            <tr>
                <td class="value"><%= records %></td>
                <td><%= translate("records") %></td>
            </tr>
            <tr>
                <td class="value"><%= minutes %></td>
                <td><%= translate("minutes") %></td>
            </tr>
            <tr>
                <td class="value"><%= rec_avg %></td>
                <td><%= translate("durationAverage") %></td>
            </tr>
            <tr>
                <td class="value">$<%= billing %></td>
                <td><%= translate("total") %></td>
            </tr>
        </tbody>
    </table>
</div>