<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Dynamic SIP Gateways.</h1>

                <div class="landing-text">

                    <h4>
                        SIP Gateways built for interplanetary communications Instantly provision cloud voice connectivity for VoIP infrastructure.
                    </h4>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container marketing">

    <div class="row">

        <div class="col-md-12 marketing-header">

            <span class="fa-stack fa-4x">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-globe fa-stack-1x"></i>
            </span>

            <!--<h2><%= translate("whyLove") %>.</h2>
            <h4><%= translate("powerComCamColIntAndS") %>.</h4>-->
            <h2>Scalability</h2>

            <h4>Behind the scenes as I/O Fun network combined volume increases additional instances are automatically spun up to make sure there is always the capacity you need.</h4>

        </div>
    </div>

    <div class="row">

        <div class="col-md-6">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-hand-pointer-o fa-stack-1x"></i>
            </span>

            <h3><%= translate("callTracking") %>.</h3>
            <p>Measure don't guess. Automatically assign local phone numbers to outbound campaigns for metrics and real-time phone call and message routing.</p>
        </div>

        <div class="col-md-6">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-smile-o fa-stack-1x"></i>
            </span>

            <h3>Masked Phone Numbers.</h3>
            <p>Protect private information on calls and messages. Mask personal phone numbers for secure calling and messaging.</p>
        </div>

    </div>


    <div class="row">

        <div class="col-md-6">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-envelope-o fa-stack-1x"></i>
            </span>

            <h3>Dispatch Notifications.</h3>
            <p>Reduce response and resolution times. Send messages and phone calls or emails to dispatch workers from any existing field service managment system.</p>
        </div>

        <div class="col-md-6">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-tty fa-stack-1x"></i>
            </span>
            <h3>Appoint Reminders.</h3>
            <p>Reduce no-shows, message, email, and voice capabilities for existing CRM and backend reservations, handle cancellations, and rescheduling.</p>
        </div>
    </div>

    <!-- enterprise -->
    <div class="row">
        <div class="col-md-12 marketing-header">

            <h2>Bring the fun to your data center.</h2>
            <h4>Use I/O FUN Enterprise, the best way to manage communications, on your servers.</h4>

            <p class="landing-actions">
                <a href="#enterprise" class="btn btn-large">Learn more about Enterprise</a>
            </p>

        </div>
    </div>
</div> <!-- /container -->

<div class="modal fade" id="testModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                <h4 class="modal-title" id="myModalLabel"><%= translate("taskDetails") %></h4>
            </div>
            <div class="modal-body">

                <p>Trouble Tickets track and manage IT problems and their solutions for multiple clients. Use this page to change the contents of an existing Trouble Ticket.</p>

                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <!-- Default panel contents -->

                            <!-- Table -->
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th scope="row"><%= translate("uuid") %></th>
                                        <td id="task-uuid"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><%= translate("title") %></th>
                                        <td id="task-title"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><%= translate("assigned") %></th>
                                        <td id="task-assigned"></td>    
                                    </tr>
                                    <tr>
                                        <th scope="row"><%= translate("label") %></th>
                                        <td id="task-label"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-6">

                        <div class="panel panel-default">
                            <!-- Default panel contents -->

                            <!-- Table -->
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th scope="row"><%= translate("source") %></th>
                                        <td id="task-source"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><%= translate("status") %></th>
                                        <!-- da fuq 
                                        <td id="task-status">
                                        -->
                                        <td>
                                            <div class="btn-group ">
                                                <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                                                    <span id="task_status" data-label-placement="">now</span> 
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <input type="radio" id="task_status_now" name="task_status" value="now">
                                                        <label for="task_status_now">now</label>
                                                    </li>
                                                    <li>
                                                        <input type="radio" id="task_status_later" name="task_status" value="later">
                                                        <label for="task_status_later">later</label>
                                                    </li>
                                                    <li>
                                                        <input type="radio" id="task_status_done" name="task_status" value="done">
                                                        <label for="task_status_done">done</label>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <h4>Description:</h4>

                        <p id="task-description"></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <h4>History:</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <h4>Comment:</h4>

                        <textarea id="task-comment"
                            rows="5"
                            cols="66"></textarea>
                    </div>
                </div>
                
            </div>
            <div class="modal-footer">
                <div class"row">
                    <div class="col-md-6">
                        <button id="close-task-btn" class="btn btn-lg btn-danger btn-block" type="button"><%= translate("cancel") %></button>
                    </div>
                    <div class="col-md-6">
                        <button id="update-task-btn" class="btn btn-lg btn-primary btn-block" type="submit"><%= translate("update") %></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>