<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Dynamic SIP Gateways.</h1>

                <div class="landing-text">

                    <h4>
                        SIP Gateways built for interplanetary communications Instantly provision cloud voice connectivity for VoIP infrastructure.
                    </h4>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container marketing">

    <div class="row">

        <div class="col-md-12 marketing-header">

            <span class="fa-stack fa-4x">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-globe fa-stack-1x"></i>
            </span>

            <!--<h2><%= translate("whyLove") %>.</h2>
            <h4><%= translate("powerComCamColIntAndS") %>.</h4>-->
            <h2>Scalability</h2>

            <h4>Behind the scenes as I/O Fun network combined volume increases additional instances are automatically spun up to make sure there is always the capacity you need.</h4>

        </div>
    </div>

    <div class="row">

        <div class="col-md-6">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-hand-pointer-o fa-stack-1x"></i>
            </span>

            <h3><%= translate("callTracking") %>.</h3>
            <p>Measure don't guess. Automatically assign local phone numbers to outbound campaigns for metrics and real-time phone call and message routing.</p>
        </div>

        <div class="col-md-6">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-smile-o fa-stack-1x"></i>
            </span>

            <h3>Masked Phone Numbers.</h3>
            <p>Protect private information on calls and messages. Mask personal phone numbers for secure calling and messaging.</p>
        </div>

    </div>


    <div class="row">

        <div class="col-md-6">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-envelope-o fa-stack-1x"></i>
            </span>

            <h3>Dispatch Notifications.</h3>
            <p>Reduce response and resolution times. Send messages and phone calls or emails to dispatch workers from any existing field service managment system.</p>
        </div>

        <div class="col-md-6">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-tty fa-stack-1x"></i>
            </span>
            <h3>Appoint Reminders.</h3>
            <p>Reduce no-shows, message, email, and voice capabilities for existing CRM and backend reservations, handle cancellations, and rescheduling.</p>
        </div>
    </div>

    <!-- enterprise -->
    <div class="row">
        <div class="col-md-12 marketing-header">

            <h2>Bring the fun to your data center.</h2>
            <h4>Use I/O FUN Enterprise, the best way to manage communications, on your servers.</h4>

            <p class="landing-actions">
                <a href="#enterprise" class="btn btn-large">Learn more about Enterprise</a>
            </p>

        </div>
    </div>
</div> <!-- /container -->