<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Robust Data Collection.</h1>
                <div class="landing-text">
                    <h4>
                        Record calls, track results, add custom scripts, collect responses, and export data so you can see how the team or one account is performing.
                    </h4>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container marketing">

    <div class="row">

        <div class="col-md-12 marketing-header">

            <span class="fa-stack fa-4x">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-globe fa-stack-1x"></i>
            </span>

            <!--<h2><%= translate("whyLove") %>.</h2>
            <h4><%= translate("powerComCamColIntAndS") %>.</h4>-->
            <h2>Scalability</h2>

            <h4>The net you cast is as big or small you want it to be.</h4>
        </div>
    </div>

    <div class="row">

        <div class="col-md-6">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-hand-pointer-o fa-stack-1x"></i>
            </span>

            <h3><%= translate("pressOne") %>.</h3>
            <p>Outbound campaigns provides the option for the recipient to be transfered to your sales or customer service teams with a simple "Press One" feature.</p>
        </div>

        <div class="col-md-6">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-smile-o fa-stack-1x"></i>
            </span>

            <h3>Auto-Attendant and phone call routing.</h3>
            <p>An auto-attendand phone system to route your incoming campaign calls to the appropriate line or answering service.</p>
        </div>

    </div>


    <div class="row">

        <div class="col-md-6">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-envelope-o fa-stack-1x"></i>
            </span>

            <h3>Custom Notifications routed to your email.</h3>
            <p>Create alerts that will notify you immediately. Or, build your own customized Event Tracking application with our system that enable users to use virtual numbers with instant reporting.</p>
        </div>
        <div class="col-md-6">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-tty fa-stack-1x"></i>
            </span>
            <h3>TOLL-FREE, Local, and International numbers.</h3>
            <p>Bring yours or use our virtual numbers to gives you the ability to create a local presence or maintain one on this solar system.</p>
        </div>
    </div>

    <!-- enterprise -->
    <div class="row">
        <div class="col-md-12 marketing-header">

            <h2>Bring the fun to your data center.</h2>
            <h4>Use I/O FUN Enterprise, the best way to manage communications, on your servers.</h4>

            <p class="landing-actions">
                <a href="#enterprise" class="btn btn-large">Learn more about Enterprise</a>
            </p>
        </div>
    </div>
</div> <!-- /container -->


<div class="modal fade" id="pvtScriptModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                <h4 class="modal-title" id="myModalLabel"><%= translate("pvtScriptModalTitle") %></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <p>Good Afternoon? Good Morning this is _________with Myco Medical who do I have the pleasure of speaking to? Hi _____ how are you? _____Miss/Mr__________. The reason you were contacted is because you are qualified for a custom compound topical pain cream that is covered through your health insurance and it goes through your physician. Now I just have to ask you 2 quick questions to make sure you are covered 100%.</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <p>(If they say how you got my number)...Well a referral was sent over to our office most likely by your physician or by someone in the household who filled out something online</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <p>
                                    <strong>(If they say who is Myco Medical? We are big advocates for getting patients off of oral pain medications, we market on behalf of our pharmacy.)</strong>
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <p>
                                    <strong>(If they ask how much is this going to cost me? The cost is generally covered by your Health insurance provider, however you may be responsible for the standard co-pay. What is your normal Co-pay? That is what the cost would be.)
                                    </strong>
                                </p>
                            </div>
                            <div class="col-md-12">
                                <ol class="list-group">
                                    <li class="list-group-item">
                                        <p>
                                            <strong>1) Who is the health insurance provider that you currently have?</strong>
                                        </p>
                                    </li>
                                    <p>(No Medicaid, Medicare, Well Care, AARP, Humana or any insurance that is through Medicaid)</p>
                                    <li class="list-group-item">
                                        <p>
                                            <strong>2) When was the last time you saw your doctor?</strong>
                                        </p>
                                    </li>
                                    <p>(No longer than 3 months or else not qualified, recommend patient to set up a visit and follow up)</p>
                                </ol>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <p>Great, congratulations it looks like you qualify for the Topical Pain cream. Let me explain what it is and does so you understand 100%</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <p>What you qualified for is a topical pain cream that combines 8 active pharmaceutical ingredients all geared toward treating pain. The topical cream is a new safe alternative doctors are using to treat pain, it’s a prescription strength cream that you rub 2-3 times a day on the areas of your body where you have pain. The great thing about it is that since it is topical there is little to no chance of it entering your bloodstream. As a result there is little to no chance of addiction or nasty side effects associated with oral pain medications. What I want to do is get you out a 30 day prescription and the best part about it is that your insurance covers it.</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <p>What I will do now is send it to your doctor, so your doctor can review it and make sure you are not allergic to any of the ingredients, sign off on it and fax it back to us. Once we receive the fax back, we send it to our pharmacy who then runs it through your _______ insurance, then we overnight the prescription via mail to your doorstep. After 30 days, I or someone else will give you a call back to follow up to see if the prescription worked well. From there we will send you out 5 more refills of the prescription via mail to your door step as well.</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <ol class="list-group">
                                    <li class="list-group-item">
                                        <p>1) What is your doctor’s name? [Can you spell it]</p>
                                    </li>
                                    <li class="list-group-item">
                                        <p>2) What city is your doctor located?</p>
                                    </li>
                                    <li class="list-group-item">
                                        <p>3) Can you spell your first name for me?</p>
                                        <ul>
                                            <li>And your last name?</li>
                                        </ul>
                                    </li>
                                    <li class="list-group-item">
                                        <p>4) Okay ____, can you say your date of birth?</p>
                                    </li>
                                    <li class="list-group-item">
                                        <p>5) And the address that you want this prescription shipped to?</p>
                                    </li>
                                    <li class="list-group-item">
                                        <p>6) When you last filled your prescription where did you go to? (Rite Aide, Walgreens, CVS etc), Ok, can you grab your pill bottle and give me the number to your pharmacy.</p>
                                    </li>
                                </ol>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <p>What I am going to do now is obtain your insurance information from your pharmacy and send the prescription over to your physician.</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <p>I strongly recommend that you call your doctor and leave a message at the front desk that you have a prescription coming from Myco Medical that you want to try out. Please sign and fax it back to ***-***-**** .</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <p>Okay, I would like to thank you for this call, and again my name is_________, with Myco Medical. I will most likely be following up with you in a few days to make sure we have everything confirmed. Is this the best number to reach you at? Okay, I hope you feel better and have a nice day.</p>
                            </div>
                        </div>
                    </div>
                    <div id="form" class="col-md-6 hide">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="initial"><%= translate("prescriptionFormModalFormInitial") %>:</label>
                                        <input type="text" class="form-control" id="initial" placeholder="Initial">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="date"><%= translate("prescriptionFormModalFormDate") %>:</label>
                                        <input type="text" class="form-control" id="date" placeholder="Date">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="pain"><%= translate("prescriptionFormModalFormPain") %>:</label>
                                        <input type="text" class="form-control" id="pain" placeholder="Pain">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="scar"><%= translate("prescriptionFormModalFormScar") %>:</label>
                                        <input type="text" class="form-control" id="scar" placeholder="Scar">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="wound"><%= translate("prescriptionFormModalFormWound") %>:</label>
                                        <input type="text" class="form-control" id="wound" placeholder="Wound">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="prevmeds"><%= translate("prescriptionFormModalFormPrevmeds") %>:</label>
                                        <input type="text" class="form-control" id="prevmeds" placeholder="Prev. Meds">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="allergies"><%= translate("prescriptionFormModalFormAllergies") %>:</label>
                                        <input type="text" class="form-control" id="allergies" placeholder="Allergies">
                                    </div>
                                </div>
                            </div>

                            <hr>

                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="patientname"><%= translate("prescriptionFormModalFormPatientName") %>:</label>
                                        <input type="text" class="form-control" id="patientname" placeholder="Patient Name">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="patientphone"><%= translate("prescriptionFormModalFormPatientPhone") %>:</label>
                                        <input type="text" class="form-control" id="patientphone" placeholder="Phone #">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="patientaddress"><%= translate("prescriptionFormModalFormPatientAddress") %>:</label>
                                        <input type="text" class="form-control" id="patientaddress" placeholder="Address">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="patientcity"><%= translate("prescriptionFormModalFormPatientCity") %>:</label>
                                        <input type="text" class="form-control" id="patientcity" placeholder="City">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="patientst"><%= translate("prescriptionFormModalFormPatientSt") %>:</label>
                                        <input type="text" class="form-control" id="patientst" placeholder="ST">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="patientzip"><%= translate("prescriptionFormModalFormPatientZip") %>:</label>
                                        <input type="text" class="form-control" id="patientzip" placeholder="ZIP">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="patientbirthday"><%= translate("prescriptionFormModalFormPatientBirthday") %>:</label>
                                        <input type="text" class="form-control" id="patientbirthday" placeholder="Date of Birth">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="patienttdi"><%= translate("prescriptionFormModalFormPatientTdi") %>:</label>
                                        <input type="text" class="form-control" id="patienttdi" placeholder="TDI/ SS#">
                                    </div>
                                </div>
                            </div>

                            <hr>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="physicianname"><%= translate("prescriptionFormModalFormPhysicianName") %>:</label>
                                        <input type="text" class="form-control" id="physicianname" placeholder="PHYSICIAN name">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="physicianphone"><%= translate("prescriptionFormModalFormPhysicianPhone") %>:</label>
                                        <input type="text" class="form-control" id="physicianphone" placeholder="Phone #">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="physicianfax"><%= translate("prescriptionFormModalFormPhysicianFax") %>:</label>
                                        <input type="text" class="form-control" id="physicianfax" placeholder="Fax #">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="physicianaddress"><%= translate("prescriptionFormModalFormPhysicianAddress") %>:</label>
                                        <input type="text" class="form-control" id="physicianaddress" placeholder="Address">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="physiciancity"><%= translate("prescriptionFormModalFormPhysicianCity") %>:</label>
                                        <input type="text" class="form-control" id="physiciancity" placeholder="City">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="physicianst"><%= translate("prescriptionFormModalFormPhysicianSt") %>:</label>
                                        <input type="text" class="form-control" id="physicianst" placeholder="ST">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="physicianzip"><%= translate("prescriptionFormModalFormPhysicianZip") %>:</label>
                                        <input type="text" class="form-control" id="physicianzip" placeholder="ZIP">
                                    </div>
                                </div>
                            </div>

                            <hr>

                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="employername"><%= translate("prescriptionFormModalFormEmployerName") %>:</label>
                                        <input type="text" class="form-control" id="employername" placeholder="Employer Name">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="employerphone"><%= translate("prescriptionFormModalFormEmployerPhone") %>:</label>
                                        <input type="text" class="form-control" id="employerphone" placeholder="Phone #">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="employeraddress"><%= translate("prescriptionFormModalFormEmployerAddress") %>:</label>
                                        <input type="text" class="form-control" id="employeraddress" placeholder="Address">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="employercity"><%= translate("prescriptionFormModalFormEmployerCity") %>:</label>
                                        <input type="text" class="form-control" id="physiciancity" placeholder="City">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="employerst"><%= translate("prescriptionFormModalFormEmployerSt") %>:</label>
                                        <input type="text" class="form-control" id="employerst" placeholder="ST">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="employerzip"><%= translate("prescriptionFormModalFormEmployerZip") %>:</label>
                                        <input type="text" class="form-control" id="employerzip" placeholder="ZIP">
                                    </div>
                                </div>
                            </div>

                            <hr>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="pharmacyinfo"><%= translate("prescriptionFormModalFormPharmacyInfo") %>:</label>
                                        <input type="text" class="form-control" id="pharmacyinfo" placeholder="Pharmacy Info">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="workerscomp"><%= translate("prescriptionFormModalFormWorkersComp") %>:</label>
                                        <input type="text" class="form-control" id="workerscomp" placeholder="WORKERS COMP">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="pharmacydoa"><%= translate("prescriptionFormModalFormPharmacyDoa") %>:</label>
                                        <input type="text" class="form-control" id="pharmacydoa" placeholder="DOA">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="workersdoa"><%= translate("prescriptionFormModalFormWorkersDoa") %>:</label>
                                        <input type="text" class="form-control" id="workersdoa" placeholder="DOA">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="pharmacyrxid"><%= translate("prescriptionFormModalFormPharmacyRxId") %>:</label>
                                        <input type="text" class="form-control" id="pharmacyrxid" placeholder="RX ID">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="workersclaim"><%= translate("prescriptionFormModalFormWorkersClaim") %>:</label>
                                        <input type="text" class="form-control" id="workersclaim" placeholder="Claim">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="pharmacyrxgroup"><%= translate("prescriptionFormModalFormPharmacyRxGroup") %>:</label>
                                        <input type="text" class="form-control" id="pharmacyrxgroup" placeholder="RX Group">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="workersadjname"><%= translate("prescriptionFormModalFormWorkersAdjName") %>:</label>
                                        <input type="text" class="form-control" id="workersadjname" placeholder="ADJ. Name">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="pharmacypcnnumber"><%= translate("prescriptionFormModalFormPharmacyPcnNumber") %>:</label>
                                        <input type="text" class="form-control" id="pharmacypcnnumber" placeholder="PCN #">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="workersadjaddress"><%= translate("prescriptionFormModalFormWorkersAdjAddress") %>:</label>
                                        <input type="text" class="form-control" id="workersadjaddress" placeholder="ADJ. Address">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="customerservicenumber"><%= translate("prescriptionFormModalFormCustomerServiceNumber") %>:</label>
                                        <input type="text" class="form-control" id="customerservicenumber" placeholder="Customer Service #">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="pharmacyinfo2"><%= translate("prescriptionFormModalFormPharmacyInfo2") %>:</label>
                                        <input type="text" class="form-control" id="pharmacyinfo2" placeholder="Pharmacy Info">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="pharmacyph"><%= translate("prescriptionFormModalFormPharmacyPh") %>:</label>
                                        <input type="text" class="form-control" id="pharmacyph" placeholder="Pharmacy PH">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <h4>MMSWC/CR</h4>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div id="pills" class="col-md-6 show">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <!-- Default panel contents -->

                                    <!-- Table -->
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <th scope="row"><%= translate("campaign") %></th>
                                                <td id="incoming-campaign"></td>
                                            </tr>
                                            <tr>
                                                <th scope="row"><%= translate("firstName") %></th>
                                                <td id="incoming-firstName"></td>
                                            </tr>
                                            <tr>
                                                <th scope="row"><%= translate("lastName") %></th>
                                                <td id="incoming-lastName"></td>
                                            </tr>
                                            <tr>
                                                <th scope="row"><%= translate("phone") %></th>
                                                <td id="incoming-phone"></td>
                                            </tr>
                                            <tr>
                                                <th scope="row"><%= translate("year") %></th>
                                                <td id="incoming-year"></td>
                                            </tr>
                                            <tr>
                                                <th scope="row"><%= translate("age") %></th>
                                                <td id="incoming-age"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <!-- Default panel contents -->

                                    <!-- Table -->
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <th scope="row"><%= translate("address") %></th>
                                                <td id="incoming-address"></td>
                                            </tr>
                                            <tr>
                                                <th scope="row"><%= translate("city") %></th>
                                                <td id="incoming-city"></td>
                                            </tr>
                                            <tr>
                                                <th scope="row"><%= translate("state") %></th>
                                                <td id="incoming-state"></td>    
                                            </tr>
                                            <tr>
                                                <th scope="row"><%= translate("zip") %></th>
                                                <td id="incoming-zip"></td>
                                            </tr>
                                            <tr>
                                                <th scope="row"><%= translate("insurance") %></th>
                                                <td id="incoming-insurance"></td>
                                            </tr>
                                            <tr>
                                                <th scope="row"><%= translate("uuid") %></th>
                                                <td id="incoming-uuid"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4>Comment:</h4>

                        <textarea id="task-comment"
                            rows="5"
                            cols="66"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class"row">
                    <div class="col-md-4">
                        <button id="close-task-btn" class="btn btn-lg btn-danger btn-block" type="button"><%= translate("next") %></button>
                    </div>
                    <div class="col-md-4">
                        <button id="incoming-form-btn" class="btn btn-lg btn-primary btn-block" type="submit"><%= translate("form") %></button>
                    </div>
                    <div class="col-md-4">
                        <button id="update-task-btn" class="btn btn-lg btn-primary btn-block" type="submit"><%= translate("update") %></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>